
img.img-responsive {
  width:350px;
  height:250px;
}

img.avatar {
  width:120px;
  height:170px;
}

img.logo {
  width:120px;
  height:120px;
  margin-top:-50px;
}

header .container {
    padding-top:120px;
    padding-bottom:50px;
    }

header, section#about.success, #portfolio .portfolio-item .portfolio-link
.caption { 
    background:#2C3E50;
 }

a.portfolio-link, a, a.active , a:active, a:focus {
  color:#ACAEE8;
}

p#not-reg a, p#not-reg a.active, p#not-reg a:active, p#not-reg a:focus {
    color: white;
}

hr.star-light:after {
  background-color:#ACAEE8;
}

.navbar-custom, footer .footer-above  {
  background:#222222;
}

footer .footer-above,{
  background-color:#222222;
}

ul.logo-nav li{
  display:inline-block;
}

input[type="text"], input[type="password"] {
    border:1px solid #555;
    height:50px;
}

 textarea, textarea.form-control {
    border:1px solid #555;
    height:100px;
}

a.admiring {
  padding-left:5%;
}

a.create {
  padding-left:50%;
}

.users-nav ul li {
  display:inline-block;
  padding-right:40px;
  padding-top:20px;;
}

.grid-50 div {
  display:inline-block;
  padding-right:35px;
}

#err-section {
    height:300px;
    background:white;
    margin-top:80px;
}

div.form-bottom {
    padding:0px;
}

.stats-row div {
  display:inline-block;
  padding:15px;
}

.stats-row .btn {
  width:100px;
  color:black;
}

.flashes {
    background:#18BC9C;
    color:black;
}

h3 #404 {
    position:absolute;
    left:320px;
    top:175px;
    width:auto;
height:210px;
}

div #By {
    position:absolute;
    left:285px;
    top:235px;
    width:210px;
    height:210px;
}

div #Bn {
    position:absolute;
    left:360px;
    top:235px;
    width:210px;
    height:210px;
}

p #not-reg a {
    color:white;
}

#username,#email,#password,#password2 {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

div.form-bottom {
    padding-top:0px;
}

div.flashes {
    background:#18BC9C;
    color:black;
}

article.stream-posts {
    text-align:left;
    padding-top:20px;
    border-style: outset;
}
